<%= bootstrap_devise_error_messages! %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#characters">Characters</a></li>
  <li><a data-toggle="tab" href="#settings">Settings</a></li>
  <li><a data-toggle="tab" href="#reserv">Reserv</a></li>
</ul>

<div class="tab-content">
  <div id="characters" class="tab-pane fade in active">
    <%= render partial: 'characters/index'%>
  </div>

  <div id="settings" class="tab-pane fade">
    <%= render partial: 'edit_devise'%>
  </div>

  <div id="reserv" class="tab-pane fade">
    <p>Some content in menu 2.</p>
  </div>
</div>

<!--
<p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>

<%= link_to t('.back', :default => 'Back'), :back %>
-->